/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
@font-face {
    font-family: Poppins;
    src: url(Poppins/);
}
$font-stack: Poppins;
* {
  padding: 0;
  margin: 0;
  border: 0;
  font: 100% $font-stack;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* font-family: "Lato", sans-serif; */
  height: 100%;
  width: 100%;
  /* line-height: 30px;
  font-size: 20px; */
  /* color: #1e1744; */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0px 20px;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  /* color: #292929; */
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
.header {
  margin: 0 auto;
  padding: 0px 100px;
  max-width: 1512px;
}
.sec1 {
  margin: 0 auto;
  max-width: 1512px;
}
.sec2 {
  margin: 0 auto;
  max-width: 1512px;
}